---
import Icon from "@ui/icons/Icon.astro";
import { platformMenu } from "@utils/megaMenu/platform";

const sectionDescription =
  "Learn how SimpleScheduleAI works and get started";
const currentPath = Astro.url.pathname;
---

<div
  class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--strategy:static] xl:[--is-collapse:false] xl:[--strategy:absolute] xl:[--trigger:hover]"
>
  <button
    id="mega-menu-platform"
    type="button"
    class={`hs-dropdown-toggle flex w-full items-center rounded-lg p-2 font-medium text-slate-800 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden ${
      currentPath.startsWith("/platform") ? "underline underline-offset-4" : ""
    }`}
    aria-haspopup="menu"
    aria-expanded="false"
    aria-label="Mega Menu"
  >
    Platform <Icon name="arrowDownRight" />
  </button>

  <div
    class="hs-dropdown-menu relative start-0 top-full z-10 mt-2 hidden w-full min-w-60 max-w-(--breakpoint-md) opacity-0 transition-[opacity,margin] duration-150 before:absolute before:-top-5 before:start-0 before:h-5 before:w-full hs-dropdown-open:opacity-100 xl:left-1/2 xl:-translate-x-1/2 xl:duration-300"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="mega-menu-platform"
  >
    <div
      class="from-teal-100 via-transparent to-white px-4 py-2 lg:mx-8 xl:mx-6 xl:rounded-lg xl:bg-white xl:bg-linear-to-t/oklch xl:px-16 xl:py-10 xl:shadow-lg xl:ring-1 xl:ring-teal-950/5"
    >
      <p class="text-sm text-slate-600">
        {sectionDescription}
      </p>
      <hr class="mb-5 border border-teal-300" />

      <div
        class="grid grid-cols-1 gap-2 py-1 sm:grid-cols-2"
      >
        {
          platformMenu.map((platform) => (
            <a
              class="group flex gap-x-4 rounded-lg p-4 transition hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden"
              href={platform.href}
            >
              <div class="flex-1">
                <h3 class="font-medium text-slate-800">
                  {platform.title}
                </h3>
                <p class="mt-1 text-sm text-slate-600">
                  {platform.description}
                </p>
              </div>
              <Icon name="chevronRight" class="self-center text-slate-400 transition group-hover:translate-x-1" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
